@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


body{
    background-color:#E3E6C7 ;
    font-family: 'New Tegomin', serif; 

}

.App{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.chartsPart{
    margin:1%;
    width: 58%;
    min-width:9cm;
    max-width: 20cm;
}

.newPurchase{
    height: 32vh;
}
.purchaseList{
    height: 67vh;
}

.purchasesInfo{
    min-width:"6.6cm";
    box-sizing: border-box;
    border: 1px solid blue;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    width: 38%;
    min-width: 7cm;
    max-width: 35cm;
}
.title{
    color:rgb(0, 81, 255);
    font-weight: bold;
}