.charts{
 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}
.charts>*{
    flex-basis: 40%;
    flex-grow: 0.7;
    height: 46%;
    margin: 1%;
    min-width: 6.5cm;
    min-height: 5cm;
}


.noData{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noDataIcon{
    height: 50%;
}