@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

button{
    box-shadow: 2px 2px rgba(0, 0, 0, 0.171);
    overflow: hidden;
    white-space: nowrap;
    background-color: #0c814591;
    height: 6vh;
    min-height: 30px;
}

.categories >*{
    width: 50%
}

.loadingPurchase{
    color:red;
    font-family: 'Raleway', sans-serif;
    font-size: small;
}

.notification{
    color: red;
    font-family: 'Raleway', sans-serif;
    font-size: small;
}

.otherCathegory{
    box-sizing: border-box;
    width: 100%;
    height:6vh;
}

.selectedCategory{
    background:rgba(0, 110, 255, 0.849);
}
